body {
    background-color: #5f5b5b;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* The Stage */
#stage {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #444; 
    border: 4px solid #fff;
    overflow: hidden;
    /* Create a floor perspective using a gradient */
    background-image: linear-gradient(to bottom, #000 0%, #000 50%, #444 50%, #444 100%);
}

/* Text Display Area */
#dialogue-box {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    text-align: center;
    color: #e0feff; /* Gold text */
    text-shadow: 2px 2px #000;
}

.character {
    position: absolute;
    bottom: 50px; /* Standing on the "floor" */
    width: 64px;  /* Width of one frame of your sprite */
    height: 64px; /* Height of your sprite */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 2px solid white;
    z-index: 10;
}


#priest { 
    left: 350px; 
    background-color: rgb(109, 89, 89); 
}
#prince { 
    left: 450px; 
    background-color: rgb(58, 80, 95); 
}
#princess { 
    left: -100px; /* Start off screen */
    background-color: rgb(252, 174, 187); 
    color: black;
}
#robot { 
    left: -180px; /* Start off screen behind princess */
    background-color: gold; 
    color: black;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}